$color_1: #dee3de;
$color_2: #f5f3ef;
$color_3: #34544c;
$color_4: #1e2725;

$font-family_1: inter;
$background-color_1: #34544c;
$background-color_2: #f5f3ef;
$big-title: 60px;
$big-text: 20px;
$normal-text: 16px;



@import 'navblog'